{% extends "base.html.twig" %}

{% block title %}Alla böcker{% endblock %}

{% block body %}

<main class="container">
<header>
<h1>Alla böcker</h1>
</header>

<p>Här är alla böcker i biblioteket!</p>

<ul class="libraryList">
{% for book in library %}
    <li><img class="imgBook" src="../img/{{book.image}}" alt="Bild som representerar boken"></li>
    <li>Titel: {{book.title}}</li>
    <li>Av {{book.author}}</li>
    <li>ISBN: {{book.isbn}}</li>
    </ul>
<div class="libraryForm">
<form method="get" action="">
    <fieldset>
        <input id="id" type="hidden" name="id" value="{{book.id}}">

        <input type="submit" name="show" value="Se bok"
            onClick="this.form.action='{{ path('library_show_by_id', {id: book.id}) }}';"
            >

        <input type="submit" name="delete" value="Radera bok"
            onClick="this.form.action='{{ path('library_delete_by_id', {id: book.id}) }}';"
            >

        <input type="submit" name="update" value="Uppdatera bok"
            onClick="this.form.action='{{ path('library_update_by_id', {id: book.id}) }}';"
            >
    </fieldset>
</form>
</div>
&nbsp;
{% endfor %}

</main>

{% endblock %}